a,
h1 {
  text-decoration: none;
  transition: 0.5s;
  color: #333;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a:hover {
  color: #1d9e39;
}

.teste:hover {
  color: #848e81;
}

/* preços */

.pricing-container {
  padding-bottom: 5em;
  text-align: center;
}

.pricing-container h1 {
  font-size: 36px;
  margin-top: 0;
}

.pricing-container p {
  font-size: 20px;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.plan {
  flex: 1 1 200px;
  max-width: 275px;
  margin-left: 20px;
  margin-right: 20px;
}

.plan ul {
  padding: 0;
}

.plan li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  background-color: #e8e9ea;
  color: #333;
}

.plan .price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #2cc76a;
  color: #fff;
  text-align: center;
  line-height: 120px;
  font-size: 18px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

.plan .plan-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #202b34;
  padding-top: 20px;
  padding-bottom: 20px;
}

.plan .plan-btn {
  background-color: #2cc76a;
  color: #fff;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  cursor: pointer;
}

.plan:hover {
  background-color: #6e8275;
}

.plan .plan-btn:hover {
  background-color: #6e8275;
}

.searchdomain-container input {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}

.searchdomain-container input[type="text"] {
  margin-bottom: 25px;
  width: 60%;
  padding: 20px;
  font-size: 20px;
}

.searchdomain-container input[type="submit"] {
  background-color: #2cc76a;
  padding: 15px 30px;
  color: #fff;
  font-size: 24px;
}

/* media queries */

@media screen and (max-width: 1100px) {

	.plans-container {
		width: 95%;
	}

	.plan {
		margin-left: 5px;
		margin-right: 5px;
	}

}

@media screen and (max-width: 900px) {

	.plans-container, .specialties-container ul {
		flex-wrap: wrap;
	}

}

@media screen and (max-width: 576px) {

	.navbar-items li {
		font-size: 12px;
		margin-left: 10px;
	}

	html, body {
	  overflow-x:hidden
	}

	.plan {
		max-width: 100%;
	}

	.searchdomain-container {
		padding: 3em 2em;
	}

	.container .searchdomain-container input {
		width: 100%;
		box-sizing: border-box;
	}

	.contact-container {
		padding: 3em 2em;
	}

	.contact-container input, .contact-container textarea {
		width: 100%;
		display: block;
		margin-left: 0;
		margin-right: 0;
		box-sizing: border-box;
	}
}
