<h1>Vem me consulta rsrs!</h1>
<div class="navbar-header">
  <a [routerLink]="['/cursoCss/ccs3-top']" class="btn btn-xs btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> CSS3
  </a>
</div>
<div class="navbar-header">
  <a [routerLink]="['/cursoCss/recursos-html']" class="btn btn-xs btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Recursos HTML
  </a>
</div>

<div class="navbar-header">
  <a [routerLink]="['/cursoCss/app-doceria']" class="btn btn-xs btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Doceria
  </a>
</div>

<div class="navbar-header">
  <a [routerLink]="['/cursoCss/ccs3-top']" class="btn btn-xs btn-success">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> CSS3
  </a>
</div>
